/* Hide license icons, "Made with", and "Build your site" */
.powered-by.footer-license-icons,
.powered-by.text-center.text-sm.opacity-80.py-1
{
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
