/* Hide license icons, "Made with", and "Build your site" */
.powered-by.footer-license-icons,
.powered-by.text-center.text-sm.opacity-80.py-1
{
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

@media (max-width: 768px) {
  /* Globálny padding pre text na mobiloch */
  div.page-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  /* Reset pre biografiu - vytiahne ju von z paddingu */
  #section-resume-biography {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
